<div class="top-container">
    <div class="top-container-title">
        <h1>ScheduleApp</h1>
        <p>Registration Your Schedule</p>
    </div>
    <div class="top-container-buttons">
        <div class="btn-toolbar center-block">
            <% if !@current_user %>
                <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-info" %>
                <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
            <% end %>
        </div>
    </div>
</div>

