// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content{
    margin:15px;
}

.index-container{
  margin:15px;
  padding:50px 100px;

}

.user{
    font-size:20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
